{% load static %}
{% include 'index.html' %}
{% include 'navigation.html' %}

{% block content %}

{% if error == "no" %}
<script>
    alert('Doctor added successfully');
    window.location = "{% url 'home' %}";
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('unable to add doctor, try again');
</script>
{% endif %}

<div class="container">
    <h2 class="text-center">Add Doctor</h2>
    <form method="POST">
        {% csrf_token %}
        <label> Doctor's Name </label>
        <input type="text" class="form-control" name="name" placeholder="Enter Name">
        <label> Gender</label>
        <input type="password" class="form-control" name="gender" placeholder="Enter gender">
        <label> Mobile Number</label>
        <input type="password" class="form-control" name="Mobile_no" placeholder="Enter phone number">
        <label> Gender</label>
        <input type="password" class="form-control" name="speciality" placeholder="Enter speciality">
        <input type="submit" value="Login" class="form-control btn btn-primary">
    </form>

</div>
{% endblock content %}



{% include 'footer.html' %}